<!DOCTYPE html>
<div class="news">
  <div class="newsImage"><img src="/service/image/news/main/480/320/{{news.id}}/photo.png" alt="{{news.mainImage.text}}"/></div>
  <div class="newsDetails"><span class="newsPublishTime">{{news.publishTime}}</span>&nbsp;کد <span class="newsCode">{{news.code}}</span></div>
  <div class="newsPreTitle">{{news.preTitle}}</div>
  <div class="newsTitle">{{news.title}}</div>
  <div class="newsAbstract">{{news.abstractText}}</div>
  <div class="newsText" id="mainText"></div>
</div>
<br/><br/>
<a class="btn btn-default" data-ng-click="back()">بازگشت</a>
<br/>

<div class="socialButtons">
  <div data-fb-like></div>
  <br/>
  <div data-google-plus></div>
</div>


<!-- adsense -->
<div style="text-align: center">
  <adsense-directive 
    ad-client="ca-pub-1305937802991389"
    ad-slot="3586770398" 
    css-style="display:inline-block;width:320px;height:50px;">
  </adsense-directive>
</div>
<!-- /adsense -->

<div class="sameClassList">
  <a href="#!/news/{{sameClassNews.id}}" data-ng-repeat="sameClassNews in sameNewsList">{{sameClassNews.title}}</a>
</div>